.source_heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cards_content{
    display: flex;
    flex-direction: column;
}
.source_cards{
    display: flex;
    flex-direction: column;
}
.cards_content_main{
    display: flex;
    padding: 20px;
    align-items: center;
}
.source_cards{
   border: 1px solid black;
   box-shadow: 0 4px 8px 0 rgba(24, 3, 3, 0.021);
   border-radius: 10px;
   /* background-color: #FFE4B5; */
   width: 20vw;
   height: 40vh;
}
.source_cards :hover{
    transition: 1s ease-out;
    cursor: pointer;
}
.cards_heading{
    padding: 20px;
    border: 2px solid #FAEBD7;
    background-color: white;
    /* background-color: #FFEFD5;  */
    color: rgb(16, 163, 163);
}
.cards_content{
    padding: 10px;
    margin-right: 50px;
}
.cards{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin-left: 6vw;
    margin-right: 6vw;
  
    /* margin-left: 10vw;
    margin-right:5vw;  */
}
.source_cards{
    margin-top: 5vh;
  
}
.source{
    background-color: #FAEBD7;
    height: 75vh;
}
.source_heading{
    position: relative;
    margin-top: 40px;
}
.source_heading > p {
    font-size: 25px;
}

.see_all{
    padding: 10px;
    margin-left:45vw;
    width: 7vw;
    border-radius: 15px;
    font-size: 1rem;
    align-items: center;
    margin-top: 30px;
}

@media (max-width : 768px) {
    .source_heading > p {
        font-size: 20px;
        padding: 20px;
        margin-left: 20px;
        
    }
    .cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        /* margin-left: 6vw; */
        background-color:#FAEBD7 ;
        /* margin-right: 6vw; */
      
        /* margin-left: 10vw;
        margin-right:5vw;  */
    }
    .cards_heading{
        padding: 20px;
        height: 20vh;
        border: 2px solid #FAEBD7;
        background-color: white;
        /* background-color: #FFEFD5;  */
        color: rgb(16, 163, 163);
    }
    .source_cards{
        border: 1px solid black;
        box-shadow: 0 4px 8px 0 rgba(24, 3, 3, 0.021);
        border-radius: 10px;
        text-align: center;
        /* background-color: #FFE4B5; */
        width: 85vw;
        /* margin-right: 10vw; */
        height: 40vh;
     }
     .source{
         height: 200vh;
         width: 100%;
         background-color: #FAEBD7;
    }
    .see_all{
        padding: 10px;
        margin-left: 29vw;
        width: 40vw;
        border-radius: 15px;
        font-size: 1rem;
        align-items: center;
        margin-top: 30px;
    }
    
}


 /* .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }
  .card_content {
      display: flex;
      flex-direction: column; */
  